<aside>



    <table>
        文章分类
    </table>
    <div>

        @Html.ActionLink("教育", "IndexByCategory", "Articles2", new { Category = "教育" }, new { target = "_self" })

    </div>

    <div>

        @Html.ActionLink("政治", "IndexByCategory", "Articles2", new { Category = "政治" }, new { target = "_self" })

    </div>

    <div>

        @Html.ActionLink("生活", "IndexByCategory", "Articles2", new { Category = "生活" }, new { target = "_self" })
    </div>

</aside>

